body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
    margin: 50px;
}

.nomes {
    text-align: left;
    margin-left: 20%;
}

ul {
    list-style: none;
    counter-reset: item;
}

li::before {
    content: counter(item) ". ";
    counter-increment: item;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
